body {
    /*margin: 0;
    */scroll-behavior: smooth;
    background-color: rgb(146, 127, 181);
    color: azure;
    padding: 10px;
    opacity: 1;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

*{
    font-family: serif;
    font-weight: 600;
}